[build]
  command = "npm run build"
  publish = "build"
  functions = "netlify/functions"

[build.environment]
  CI = "false"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  node_bundler = "esbuild"